body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.app.goo.gl/4a781r7uLgLHF3859');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5252;
}

.record {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.record:hover {
    background-color: #e9e9e9;
}

#record-count {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
